<div class="jumbotron">
  <h1>Curso Promocionado</h1>
  <p>descripcion</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Comprar</a></p>
</div>
<div class ="row">
  <!--Producto Lite-->
  <div class="col-lg-3">
    <div class="thumbnail">
      <div class="caption">
        <h3>Producto destacado Lite</h3>
        <p>Descripcion</p>
        <p>
          <a href="#" class="btn btn-primary" role="button">Saber mas</a>
        </p>
      </div>
    </div>
  </div>
  <!--Producto Lite-->
  <div class="col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Producto destacado Lite</h3>
          <p>Descripcion</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Saber mas</a>
          </p>
        </div>
      </div>
    </div>
    <!--Producto Lite-->
  <div class="col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Producto destacado Lite</h3>
          <p>Descripcion</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Saber mas</a>
          </p>
        </div>
      </div>
    </div>
    <!--Producto Lite-->
  <div class="col-lg-3">
      <div class="thumbnail">
        <div class="caption">
          <h3>Producto destacado Lite</h3>
          <p>Descripcion</p>
          <p>
            <a href="#" class="btn btn-primary" role="button">Saber mas</a>
          </p>
        </div>
      </div>
    </div>
</div>