<div class='padding'>
  <div class='margin'></div>
    <h1>Bienvenido a la <b>Única</b></h1>
    <h1>Comunidad para <b>Psicólogos</b></h1>
    <h4>¡Necesitarás un psicólogo para poder <span class='resaltado'>entenderlo!</span></h4>
    <br />
    <button type="button" class='btn btn-resaltado'>VER EVENTOS</button>
  </div>

<div class='dibujoPortada'></div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h2 class='center'>La única plataforma exclusiva para psicólogos</h2>
<div class='recursos'>

  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">100000 +</h5>
      <p class="card-text">Miembros de la comunidad</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">2000000 +</h5>
      <p class="card-text">Vídeos de cursos</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src=".../100px180/" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">10000 +</h5>
      <p class="card-text">Herramientas y recursos</p>
    </div>
  </div>

</div>


<br />
<br />
<br />
<br />
<br />
<br />

<div class='text-img'>
  <div class="jumbotron">
    <h2>Forma parte de la comunidad</h2>
    <p class="lead">Aprende a tu Ritmo pero Conectando con otros Psicólogos.</p> 
    <hr class="my-4">
    <p>
      Una comunidad orientada a profesionales de la psicología,
      en la que podrás compartir experiencias y conocimientos con profesores
      compañeros, investigadores.
    </p>
    <p>
      Podrás acceder a cursos de formación en todo el mundo, e informarte
      sobre los que se imparten en tu ciudad.
    </p>
  </div>
  <img src='./../../../assets/img/comunity.jpg'>
</div>

<div class='text-img'>
  <img src='./../../../assets/img/share.jpg'>
  <div class="jumbotron reverse">
    <h2>Comparte Crusos y Recursos</h2>
    <p>
      <b>Encuentra y vende</b> todas las herramientas e instrumentos que te ayudarán a mejorar en tu profesión como psicólogo...
    </p>
    <p>
      Enseña y fórmate con todos los cursos que te ofrecen un complemento a tus conocimientos.
    </p>
    <p>
      Autoregistros, Autoinstrucciones, test de terapias proyectivas u objetivas, y un largo etc...
    </p>
    <hr class="my-4">
  </div>
</div>

<div class="text-img">
  <div class="jumbotron">
    <h2>Mejora tus Ingresos</h2> 
    <p>
      Ponemos a tu disposición toda una plataforma comercial para que puedas ganar dinero mientras aprendese intercambias conocimientos.
    </p>
  </div>
  <img src='./../../../assets/img/credit.jpg'>
</div>

<div class="jumbotron">
  <h2>Formaciones y Recursos</h2> 
  <p>
    Tendrás toda la información sobre cursos y eventos en tu ciudad al alcance de tu mano.
    Y podrás disponer de una shop online con todas las herramientas que utiliza el psicólogo en su día a día.
  </p>
  <p class="lead">Más Recientes <a href="#" class="btn lite">Buscar +</a></p>
</div>

<div class='videos' *ngFor='let video of videos'>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{ video.imagen_src }}" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><small class="text-muted type">{{ video }}</small></p>
      <h5 class="card-title">{{ video.titulo }}</h5>
      <p class="card-text"><small class="text-muted date">Hace 2 días / Pepita </small></p>
      <p class="card-text">{{ video.descripcion }}</p>
      <span>
        <i class="material-icons resaltado">favorite_border</i>
        <i class="material-icons resaltado">share</i>
        <i class="material-icons resaltado">cloud_download</i>
        <i class="material-icons resaltado">add_shopping_cart</i>
      </span>
      <br>
      <span class='space'>
        <a href="#" class="btn btn-primary dis">CURSO{{ video.tipo}}</a>
        <span class='resaltado price'>35€{{ video.price }}</span>
      </span>
    </div>
  </div>
</div>


