.padding {
    padding: 100px 0 30px 0;
}

.jumbotron {
    width: 70%;
    background: transparent;
}

.jumbotron2{
    background-image: url("../../../assets/img/jumbo3.jpg");
    background-attachment: scroll;
    background-size:cover;
    background-position: center;
    background-clip: border-box;
    background-repeat:no-repeat;
    background-color: tomato;
}
.h1{
    text-decoration: tomato;
    text-align: center;
}
.thumbnail{
    background-image: url("../../../assets/img/jumbo1.jpg");
    background-size:cover;
    background-position: center;
    background-clip: border-box;
    background-repeat:no-repeat;
}
.Plite{
    background-color: tomato;
    border-radius: 10px;
    margin:5px;
}
video{
    border-radius: 2px;
    margin-top:10px;
    margin-left: 7px;
}
button{
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 10px;
}
button:hover{
    border-radius: 10px;
    margin-left: 2%;
    margin-bottom: 10px;
}

.miniatura:hover {
    display: none;
}

.dibujoPortada {
    position: absolute;
    top: 109px;
    right: -323px;
    width: 73%;
    height: 58%;
    background-image: url('./../../../assets/img/DibujoPortada.svg');
    background-repeat: no-repeat;
    background-size: 96%;
    background-position-y: -270px;
    background-position-x: 100px;
}