li{
    color:tomato;
}
p{
    padding-left: 10px;
    size: 11px;
    text-transform: capitalize;
    color:black;
}
a{
    color: tomato;

}
i{
    color:tomato;
}
h1{
    size: 25px;
    padding-left: 10px;
    color:black;
}
/* You can add global styles to this file, and also import other style files */
