li{
    color:tomato;
}
p{
    padding-left: 10px;
    size: 11px;
    text-transform: capitalize;
    color:black;
}
a{
    color: tomato;

}
i{
    color:tomato;
}
h1{
    size: 25px;
    padding-left: 10px;
    color:black;
}

.resaltado {
    color: tomato;
}

.btn-resaltado {
    background: tomato;
    color: white;
}

.center {
    text-align: center;
}
