@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    height: 100vh;
    width: 100%;
}

li{
    color:tomato;
}
p{
    padding-left: 10px;
    size: 11px;
    text-transform: capitalize;
    color:black;
}
a{
    color: tomato;

}

h1{
    size: 25px;
    padding-left: 10px;
    color:black;
}

.resaltado {
    color: tomato;
}

.btn-resaltado {
    background: tomato;
    color: white;
}

.center {
    text-align: center;
}

.hidden {
    display: none !important;
}


.favs {
    background: transparent;
}

.padding-15 {
    padding: 15px;
}
