<div class="back container row">
  <div class="Derecha col-lg-6 col-sx-12">
    <img class=" Logo col-lg-12" src="../../../../Api/uploads/logo.png" alt="Logo">
    <div class="Botones col-lg-12" >
        <div *ngIf="Estado==0;then content else other_content">here is ignored</div>    
        <ng-template #content>
          <div class="MarcadorActivo col-lg-12">
            <div class="container row">
                <img class="col-lg-2" src="../../../../Api/uploads/logo.png" alt="Logo"> 
                <h2 class="principal col-lg-10">Tus Datos</h2>
            </div>
            <p class="col-lg-12">Porfavor Introduce tus datos</p>
          </div>
        </ng-template>
        <ng-template #other_content>
          <div class="Marcador col-lg-12">
            <div class="container row">
                <img class="col-lg-2" src="../../../../Api/uploads/logo.png" alt="Logo"> 
                <h2 class="principal col-lg-10">Tus Datos</h2>
            </div>
            <p class="col-lg-12">Porfavor Introduce tus datos</p>
          </div></ng-template>
      
          <div *ngIf="Estado==1;then content else other_content">here is ignored</div>    
          <ng-template #content>
            <div class="MarcadorActivo col-lg-12">
              <div class="container row">
                  <img class="col-lg-2" src="../../../../Api/uploads/logo.png" alt="Logo"> 
                  <h2 class="principal col-lg-10">Tus Datos</h2>
              </div>
              <p class="col-lg-12">Porfavor Introduce tus datos</p>
            </div>
          </ng-template>
          <ng-template #other_content>
            <div class="Marcador col-lg-12">
              <div class="container row">
                  <img class="col-lg-2" src="../../../../Api/uploads/logo.png" alt="Logo"> 
                  <h2 class="principal col-lg-10">Tus Datos</h2>
              </div>
              <p class="col-lg-12">Porfavor Introduce tus datos</p>
            </div></ng-template>
            <div *ngIf="Estado==2;then content else other_content">here is ignored</div>    
            <ng-template #content>
              <div class="MarcadorActivo col-lg-12">
                <div class="container row">
                    <img class="col-lg-2" src="../../../../Api/uploads/logo.png" alt="Logo"> 
                    <h2 class="principal col-lg-10">Tus Datos</h2>
                </div>
                <p class="col-lg-12">Porfavor Introduce tus datos</p>
              </div>
            </ng-template>
            <ng-template #other_content>
              <div class="Marcador col-lg-12">
                <div class="container row">
                    <img class="col-lg-2" src="../../../../Api/uploads/logo.png" alt="Logo"> 
                    <h2 class="principal col-lg-10">Tus Datos</h2>
                </div>
                <p class="col-lg-12">Porfavor Introduce tus datos</p>
              </div></ng-template>
    </div>
    <button class="miBoton" (click)="CambiarEstado()">Siguiente</button>
  </div>
  <div *ngIf="Estado==0" class="Izquierda col-lg-6 col-sx-12">
   <app-formulario></app-formulario>
  </div>
  <div *ngIf="Estado==1" class="Izquierda col-lg-6 col-sx-12">
      <p>Esto funciona</p>
     </div>
  <div *ngIf="Estado==2" class="Izquierda col-lg-6 col-sx-12">
    <p>Esto funciona 2</p>
    </div>
</div>
