<div class="back container row">
  <div class="Derecha col-lg-6 col-sx-12">
    <img class=" Logo col-lg-12" src="../../../../Api/uploads/logo.png" alt="Logo">
    <div class="Botones col-lg-8">
      <div class="MarcadorActivo col-lg-12">
        <div class="container row">
            <img class="col-lg-2" src="../../../../Api/uploads/logo.png" alt="Logo"> 
            <h2 class="principal col-lg-10">Tus Datos</h2>
        </div>
        <p class="col-lg-12">Porfavor Introduce tus datos</p>
      </div>
      <div class="Marcador col-lg-12">
          <div class="container row">
              <img class="col-lg-2" src="../../../../Api/uploads/logo.png" alt="Logo">
              <h2 class="principal col-lg-10">Modalidad de pago</h2>
          </div>
          <p class="col-lg-12">Rellena este formulario de compra</p>
        </div>
        <div class="Marcador col-lg-12">
            <div class="container row">
                <img class="col-lg-2" src="../../../../Api/uploads/logo.png" alt="Logo">
                <h2 class=" principal col-lg-10">Resultado</h2>
            </div>
            <p class="col-lg-12">Asi es como se guardaran tus datos</p>
          </div>
    </div>
  </div>
  <div class="Izquierda col-lg-6 col-sx-12">
   <app-formulario></app-formulario>
  </div>
</div>
