<div class="back">
  <div class ="formulario container row">
      <div class="Derecha col-lg-6">
          <img src="./../../../../assets/img/logo-rojo.png" class='logo col-lg-12'>
        <!--Parrafo-->
        <p>Aprende de los mejores profesionales y<br> 
          forma parte de la mayor comunidad de<br>
          psicologos de España.</p>
        <h1>Hazte miembro hoy mismo!</h1> 
      </div>
      <div class="Izquierda  col-lg-6">
          <form class="container row">
            <div class= "entrada col-lg-6 ">
              <span>Nombre</span>
              <input type="text" class="form-control" name='uss' id="uss" [(ngModel)]='Nombre' placeholder="Nombre">
            </div>
            <div class= "entrada col-lg-6 ">
                <span>Apellidos</span>
                <input type="text" class="form-control" name='uss' id="uss" [(ngModel)]='Apellido' placeholder="Apellidos">
            </div>
            <div class= "entrada col-lg-6 ">
                <span>Pais</span>
                <label for="country_name"></label>
                <input  class="form-control" id="country_name" name="country_name" type="text" list="country" />
                <datalist id="country">
                    <option value="España">
                </datalist>
              </div>  
            <div class= "entrada col-lg-6 ">
                <span>Provincia</span>
                <input type="text" class="form-control" name='uss' id="uss" [(ngModel)]='Provincia' placeholder="Provincia">
            </div>
            <div class= "entrada col-lg-6 ">
                <span>Domicilio</span>
                <input type="text" class="form-control" name='uss' id="uss" [(ngModel)]='Domicilio' placeholder="Domicilio">
            </div>
            <div class= "entrada col-lg-6 ">
                <span>Codigo Postal</span>
                <input type="number" class="form-control" name='uss' id="uss" [(ngModel)]='CP' placeholder="CP">
              </div>
              <div class= "entrada col-lg-6 ">
                  <span>Email</span>
                  <input type="email" class="form-control" name='uss' id="uss" [(ngModel)]='Email' placeholder="Email">
              </div>
              <div class= "entrada col-lg-6 ">
                  <span>Telefono</span>
                  <input type="number" class="form-control" name='uss' id="uss" [(ngModel)]='Telefono' placeholder="Telefono">
              </div>  
              <div class= "entrada col-lg-6 ">
                  <span>Usuario</span>
                  <input type="text" class="form-control" name='uss' id="uss" [(ngModel)]='user' placeholder="Usuario">
                </div>
                <div class= "entrada col-lg-6 ">
                    <span>Contraseña</span>
                    <input type="password" class="form-control" name='uss' id="uss" [(ngModel)]='pass' placeholder="Contraseña">
                  </div>
                    
                </form>
      </div>
</div>
 
