<div class ="back">
<div class="row ">
  <div class="col-lg-6 col-sx-12 anuncio">
    <h1 class="titulo1" style="font-weight: bold;">Forma parte de</h1>
    <h1>nuestra comunidad</h1>
    <h1 style="color:red" href="Registrame" >Psiky</h1>

  </div>
  <div class="formulario col-lg-6 col-sx-12 ">
    <div class="row form">
        <h1 class ="col-lg-12 col-sx-12 titulo" style="font-weight: bold;">Crea tu cuenta</h1>
        <!-- no esta funcionando el responsive hay que arreglar-->
        <input type="text" placeholder="Nombre Completo" class ="col-lg-12 col-sx-12">
        <input type="text" placeholder="Email" class ="col-lg-12 col-sx-12">
        <input type="text" placeholder="Telefono" class ="col-lg-12 col-sx-12">
        <select class= "select col-lg-12 col-sx-12">
              <option>Madrid</option>
              <option>Barcelona</option>
            </select>
        <button class ="boton">Registrate
        </button>
    </div>

  </div>
</div>

<div class= "row Contenedor2">
  <div class= "col-lg-12 col-sx-12">
    <h1>Conviertete en un miembro de <span style="color:red">Psiky</span> en tres sencillos pasos</h1>
  </div>
    <div class= "col-lg-4 col-sx-12">
      <h1 style="color:tomato; font-size: 150px; text-align: center">
        1
      </h1>
      <p style=""><span style="color:tomato">Preparados... </span>Elige la manera en la que quieres colaborar con nosotros
      ,realizando formacion, vendiendo recursos o realizando actividades</p>
    </div>

    <div class= "col-lg-4 col-sx-12">
        <h1 style="color:tomato; font-size: 150px; text-align: center">
          2
        </h1>
        <p><span style="color:tomato">Preparados... </span>Elige la manera en la que quieres colaborar con nosotros
          ,realizando formacion, vendiendo recursos o realizando actividades</p>
      </div>

      <div class= "col-lg-4 col-sx-12">
          <h1 style="color:tomato; font-size: 150px; text-align: center">
            3
          </h1>
          <p><span style="color:tomato">Ya! </span>Cuando tu peticion sea tramitada y te registres en nuestro 
            sistema tansolo tendras que subir tus archivos y comenzar a navegar</p>
        </div>
</div>

<div class = "Contenedor3 row">
  <h1 class = "col-lg-12   col-sx-12">Alguna duda?</h1>
  <br>
  <p class = "col-lg-12 col-sx-12">Consulta nuestras preguntas mas frecuentes</p>
  <br>
  <p class = "col-lg-12 col-sx-12">¿Que requisitos son necesarios para ser <br>
    miembro de Psiky?¿Por que Psiky es mas <br>
    seguro que otras plataformas?¿Como funciona? <br>
    ¿Como recibo mis ingresos? <br>
    En nuestro centro de ayuda encontraras <br> 
    la respuesta a todas tus preguntas</p>
  <br>
  <button class ="boton2 " >FAQ</button>
</div>
<div class ="row Contenedor4">
  <p class = "col-lg-8 col-sx-12">Entrar a formar parte de nuestra comunidad ya</p>
  <button class = "col-lg-4 col-sx-12">Registrame</button>
</div>
</div>