<div class='wrapper inline'>
  <div>
    <h1><b>Forma parte de</b></h1>
    <h1>Nuestra Comunidad</h1>
    <h1>de <span class='resaltado'>Psikys</span></h1>
  </div>
  <div class='form'>
    <h3>Crea tu cuenta</h3>
    <form>
      <input class="form-control box-shadow" type="text" placeholder="NOMBRE COMPLETO">
      <input class="form-control box-shadow" type="email" placeholder="EMAIL">
      <input class="form-control box-shadow" type="number" placeholder="TELÉFONO">
      <select class="form-control box-shadow">
        <option selected>CIUDAD</option>
      </select>
      <button type="submit" class='btn'>SUSCRÍBEME</button>
    </form>
  </div>
</div>

<div>
  <h1><b>Conviertete en un miembro de <span class='resaltado'>Psiky</span> en 3 sencillos pasos</b></h1>
</div>
<div class= "wrapper inline">
  <div>
    <h1><span class='step step1'>1</span></h1>
    <p><span class='resaltado'>Preparados... </span>Elige la manera en la que quieres colaborar con nosotros, 
      realizando formacion, vendiendo recursos o realizando actividades</p>
  </div>

  <div>
    <h1><span class='step'>2</span></h1>
    <p><span class='resaltado'>Preparados... </span>Elige la manera en la que quieres colaborar con nosotros
      ,realizando formacion, vendiendo recursos o realizando actividades</p>
  </div>

  <div>
      <h1><span class='step'>3</span></h1>

    <p><span class='resaltado'>Ya! </span>Cuando tu peticion sea tramitada y te registres en nuestro 
      sistema tansolo tendras que subir tus archivos y comenzar a navegar</p>
  </div>
</div>

<div class='wrapper'>
  <h1><b>¿Alguna duda?</b></h1>
  <h1>Consulta nuestras preguntas mas frecuentes</h1>
  <br>
  <p>¿Qué requisitos son necesarios para ser miembro de Psiky?¿Por qué Psiky es más seguro que otras plataformas?¿Cómo funciona?
    ¿Cómo recibo mis ingresos? En nuestro centro de ayuda encontraras la respuesta a todas tus preguntas</p>
  <button class="button-large btn box-shadow">FAQ</button>
</div>

<div class ="wrapper inline background">
  <p>¡Entra a formar parte de nuestra comunidad YA!</p>
  <button class="btn button-large" [routerLink]="['/registro']" routerLinkActive="router-link-active" >REGÍSTRAME</button>
</div>