.wrapper {
    width: 100%;
    margin-bottom: 150px;
}

.wrapper.inline {
    display: inline-flex;
    justify-content: space-between;
}

.form {
    background-color: #ffffff08;
}

input {
    margin-bottom: 15px;
}

button {
    background-color: #ff5a6b;
    color: white;
    border-radius: 20px;
}

h1 {
    text-align: center;
}

.step {
    font-size: 3.5rem;
    color: #ff5a6bd2;
    font-weight: 1000;
}

.step1 {
    color: #ff5a6b;
}

.resaltado {
    font-weight: bold;
}

.button-large {
    padding: 5px 40px;
    border-radius: 5px;
}

.background {
    background-color: #ff5a6b;
    color: white;
    padding: 2%;
}

.background>p {
    margin-top: 1rem;
}

.background>button {
    background-color: white;
    color: black;
}