<div class="back"></div>
<div class ="formulario" >
  <div class="logo"></div>
  
  <h1 class="Titulo">Hazte miembro</h1>
  <div class="container row">
    <p class="Aprende col-lg-5">
      Aprende de los mejores profesionales y
      forma parte de la mayor comunidad de 
      psicologos de España.</p>
  </div>
  
    <form class="container row">
        <div class="form-group col-lg-5 col-md-4 col-sm-6 col-sx-12">
          <input type="text" class="form-control" name='uss' id="uss" [(ngModel)]='user' placeholder="Usuario">
          <input type="password" class="form-control" name='pss' id="pss" [(ngModel)]='pass' placeholder="Password" >
        </div>
        <div class="checkbox col-lg-12 col-md-4 col-sm-6 col-sx-12">
        <input type="checkbox"><span>No cerrar sesión.</span>
        <a class="pss" routerLink='/reset-pass'>¿Has olvidado la contraseña?</a>
      </div>
      
          <button  (click)="llamar(user, pass)" type="#" class="btn btn-default col-lg-4 col-md-4 col-sm-6 col-sx-12">INICIAR SESIÓN</button>
          <a href="#" class="centrado col-lg-12 col-md-4 col-sm-6 col-sx-12">¿Aun no estas registrado?</a>

      
    
  </form>
</div>

  