
  <div class="footer">
    <div class="row Superior ">
      <div class = "col-xs-12 col-sm-4 col-lg-4">
        <img src ="https://d2yal1mtmg1ts6.cloudfront.net/M45_0ORQuYRY9Ghjgs9D9yy67zsBaOlcF2LoHO_pTIgPaGXkiC3SHwdw9uffqD9OBGjw=w100">
      </div>
      <div class = "col-xs-12 col-sm-4 col-lg-4">
        <h1>Subscribete ahora</h1>
        <nav>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-foursquare"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-linkedin"></i>
        </nav>
        <input class="form" type="email" placeholder="">
      </div>
      <div class = "col-xs-12 col-sm-4 col-lg-4">
        <h1>Contáctanos</h1>
        <p><i class="fas fa-phone"></i> 600 800 900</p>
        <p><i class="fas fa-envelope"></i> traca@mora.com</p>
      </div>
    </div>
  </div>
 

