
  <div class="footer">
    <div class="logo-text padding-15">
      <img class='logo-y' src ="./../../../../assets/img/logo-y.png">
      <div class='text'>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
    <div class = "padding-15">
      <h1>Subscribete ahora</h1>
      <div class='rrss'>
          <button type="button" class='btn favs'><i class="fab fa-facebook-f"></i></button>
          <button type="button" class='btn favs'><i class="fab fa-twitter"></i></button>
          <button type="button" class='btn favs'><i class="fab fa-instagram"></i></button>
          <button type="button" class='btn favs'><i class="fab fa-foursquare"></i></button>
          <button type="button" class='btn favs'><i class="fab fa-google-plus"></i></button>
          <button type="button" class='btn favs'><i class="fab fa-linkedin"></i></button>
      </div>
      <div class='input-group'>
        <input class="form-control" id='i-search' type="search" placeholder="Email" aria-label="Search">
        <div class="input-group-append">
          <button type='button' class='input-group-text subscribe'><i class="material-icons">send</i></button>
        </div>
      </div>
    </div>
    <div class = "padding-15">
      <h1>Contáctanos</h1>
      <p><i class="fas fa-phone"></i><a href='callto:600 800 900'>600 800 900</a></p>
      <p><i class="fas fa-envelope"></i><a href='mailto:traca@mora.com'>traca@mora.com</a></p>
    </div>
  </div>
 

