
nav{
    background: linear-gradient(-90deg, tomato,rgba(245, 245, 245, 0.486),rgba(245, 245, 245, 0.486),white,rgba(245, 245, 245, 0.486),tomato);
    margin-bottom: 15px;
}
.Logo{
    height:50px;
    width: 120px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("../../../../../../Api/uploads/logo.png");

}
.btn{
    
    
    border-color: rgba(248, 246, 246, 0.205);
    border-radius: 10px;
    margin-left: 5px;
    width: 50px;
    box-shadow: 1px 2.5px 2px 2.5px rgba(207, 205, 205, 0.164);
    
}
.btn1{
    
    
    border-color: rgba(248, 246, 246, 0.205);
    border-radius: 10px;
    margin-left: 15px;
    width: 50px;
    box-shadow: 1px 2.5px 2px 2.5px rgba(207, 205, 205, 0.164);
    
}
.btn1:hover{
    
    background-color: rgb(214, 214, 214);
    border-color: rgba(248, 246, 246, 0.205);
    border-radius: 10px;
    margin-left: 15px;
    width: 50px;
    box-shadow: 1px 2.5px 2px 2.5px rgba(207, 205, 205, 0.164);
    
}
.btn:hover{
    
    background-color: rgb(214, 214, 214);
    border-color: rgba(248, 246, 246, 0.205);
    border-radius: 10px;
    margin-left: 5px;
    width: 50px;
    box-shadow: 1px 2.5px 2px 2.5px rgba(207, 205, 205, 0.164);
    
}

button{
color:tomato;
background-color: whitesmoke;
border-color: rgba(248, 246, 246, 0.205);
border-radius: 10px;
margin-left: 5px;
width: 150px;
box-shadow: 1px 2.5px 2px 2.5px rgba(207, 205, 205, 0.164);

}
button:hover {
    color:whitesmoke;
    background-color:tomato;
    border-color:rgba(248, 246, 246, 0.205);
    border-radius: 10px;
    width: 150px;
    box-shadow: 1px 2.5px 2px 2.5px rgba(207, 205, 205, 0.164);
}
select{

    border:none;
    color:tomato;
    background-color: rgba(245, 245, 245, 0.103);
    margin-left:50%;
}

