.Titulo{
    margin-top:15%;
    margin-left: 30%;
    margin-bottom: 15%;
}
.Box{
    margin-top: 10%;
}


.miBoton{
    margin-left: 10%;
    margin-bottom: 10%;
    border-radius: 25px;
    background-color: tomato;
    border-style: none;
    color:white;
    padding: 4px,4px;
}
.miBoton:hover{
    margin-left: 10%;
    margin-bottom: 10%;
    border-radius: 25px;
    background-color: white;
    border-style: none;
    color:tomato;
    padding: 4px,4px;
}