<div id='resume'>

  <div class='tittle'>
  
    <h1>Mi Cuenta</h1> 
    <h5>Información de usuario</h5>

  </div>

  <div class="card compras">
    <div class="card-body">
      <h5 class="card-title">COMPRAS</h5>
      <p class="card-text space"><span>{{ nCompras }}€</span>  <span>{{ nProductos }}</span></p>
      <p class="card-text"><small class="text-muted">{{ today | date: "MMMM" }}</small></p>
    </div>
  </div>

  
  <div class="card productos">
    <div class="card-body">
      <h5 class="card-title">COMPRAS</h5>
      <p class="card-text space"><span>{{ nCompras }}€</span>  <span>{{ nProductos }}</span></p>
      <p class="card-text"><small class="text-muted">{{ today | date: "MMMM" }}</small></p>
    </div>
  </div>

  <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">FACTURAS</button>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
    <div role="separator" class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">Separated link</a>
  </div>

</div>