.user {
    display: grid;
    grid-template: 1fr / 30% 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 35px;
}
 app-user-resume {
    grid-column: 1 / -1;
}
 app-user-nav {
    grid-column: 1 / -1;
}
 app-user-news {
    grid-column: 1 / 2;
}
 app-user-detalles {
    grid-column: 2 / -1;
}
 app-user-sold-menu, app-user-sold,
app-user-data-menu, app-user-data,
app-user-history, app-user-comprado {
    grid-column: 1 / -1
}