<div class="resumen">
    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">CURSOS</h6>
        <p class="card-text">64%</p>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 64%" aria-valuenow="64"  aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">HERRAMIENTAS</h6>
        <p class="card-text">21</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h6 class="card-subtitle mb-2 text-muted">TOTAL</h6>
        <p class="card-text">900</p>
      </div>
    </div>

</div>

<div class="cards">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Este año</h5>
      <p class="card-text">Lorem Ipsum.</p>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [chartType]="barChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Este año</h5>
      <p class="card-text">Lorem Ipsum.</p>
        <div style="display: block">
          <canvas baseChart
                      [data]="doughnutChartData"
                      [chartType]="doughnutChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)">
          </canvas>
        </div>
    </div>
  </div>

  <div class="card">
    <div class="card-body">

      <table class="table">
        <tbody>
          <tr>
            <td>
              <h5>
                Porcentaje
              </h5>
              <p>
                de participación
              </p>
            </td>
            <td>
              <span>+24%</span>
            </td>
          </tr>
      
          <tr>
            <td>
              <h5>
                Pagados
              </h5>
              <p>
                Lorem Ipsum
              </p>
            </td>
            <td>
              <span>560€</span>
            </td>
          </tr>

          <tr>
            <td>
              <h5>
                Sin pagar
              </h5>
              <p>
                Lorem Ipsum
              </p>
            </td>
            <td>
              <span>-10%</span>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>  

</div>

